.button {
    height: 50px;
    min-width: 200px;

    background-color: $accent-color;
    color: $background-primary;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    border: transparent;
    border-radius: 4px;

    &:hover,
    &:focus {
        color: $background-primary;
        background-color: $accent-color;
    }
}



