$main-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196F3;
$background-primary: #ffffff;
$background-secondary: #2F303A;
$background-tertiary: #F5F4FA;
$logo-black: #000000;
$logo-blue: #2196F3;
$logo-white: #ffffff;
